@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hotdopg Lover</h1>
    <p class="lead">Welcome to Hotdog Lover, a place to share the greatest of dogs.</p>
    @Html.ActionLink("View Our Members", "Index", "Person", null, new { @class = "dashboard" })
    <p><a href="" class="btn btn-primary btn-lg">View Our Members!&raquo;</a></p>
</div>
